

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
  padding:0;
  font-family: 'PT Sans', sans-serif;
  line-height:180%;
  text-align:center;
}
p {
  text-align:left;
  padding:0 20px 0px 20px;
}
label {
  text-align:left;
  font-size:12px;
  line-height:10px;
  margin-left:2px;
  color:rgba(255, 255, 255, .8);
}
label.error {
  color:#ff6666;
  margin-bottom:10px;
}
img.truck {
  width:64px;
}
#download {
  position:relative;
}
#download div.button_hold {
  position:absolute;
  top:-60px;
  width:100%;
  left:-100%;
  text-align:center;
}
h1, h2, h3, h4, h5, h6, label {
  text-transform:uppercase;
}


.side-item, .item {
  background-color:rgba(0,0,0,.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position:relative;
}
.side-item {
  margin-left:30px;
  padding:20px 0 10px 0;
}
.side-item:before {
  content:"";
  position:absolute;
  top:50%;
  left:0;
  margin-top:-20px;
  margin-left:-20px;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  border-right:20px solid rgba(0,0,0,.1);
}
.item {
  padding:10px 0 10px 0;
  margin-top:30px;
}
.item:before {
  content:"";
  position:absolute;
  top:-20px;
  left:50%;
  margin-left:-20px;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid rgba(0,0,0,.1);
}
#navigation {
  text-align:center;
  padding:20px 0 10px 0;
  background-color:#EE5549;
  font-size:12px;
  border-bottom: 1px solid rgba(0, 0, 0, .4);
}
#navigation a {
  color: #ffffff;
  display:inline-block;
  background-color:rgba(0,0,0,.1);
  padding:3px 10px 3px 10px;
  margin-bottom:10px;
  margin-left:20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#navigation a:hover {
  text-decoration:none;
  background-color:#ffffff;
  color:#EE5549;
}
#splash { 
  -moz-box-shadow: inset 0px .5px 5px rgba(0,0,0, .5), inset 0px 0px 1px rgba(0,0,0,.3);
  -webkit-box-shadow: inset 0px .5px 5px rgba(0,0,0, .5), inset 0px 0px 1px rgba(0,0,0,.3);
  box-shadow: inset 10px .5px 5px rgba(0,0,0, .5), inset 0px 0px 1px rgba(0,0,0,.3);
  text-shadow: 0px .5px 5px rgba(0,0,0, .5), 0px 0px 1px rgba(0,0,0,.3);
  background: url(/img/splash.jpg) no-repeat center center fixed; 
  padding:40px 0 40px 0;
  background-color:#084D6E;
  color:#ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#splash a {
  margin:20px 0 20px 0;
}
#reasons, #about, #form {
  padding:40px 0 40px 0;
  border-top:1px solid rgba(255, 255, 255, .4);
}
#reasons {
  background-color:#F2DD88;
  text-align:center;

}
#about {
  background-color:#EE5549;
  color:#ffffff;
}
#form {
  color:#ffffff;
  background-color:#084D6E;
}
footer {
  border-top:1px solid rgba(255, 255, 255, .4);
  background-color:#084D6E;
  text-align:center;
  margin:0;
  padding:0;
  color:#ffffff;
}







